.hari{
	font-style: italic;
	font-size:10px;
	writing-mode: vertical;
transform: rotate(-90deg);
text-orientation: upright;
padding:0px;
color:#3f7500;
font-weight: bold;
width: 10px;
}
.merah {
   color: red;
}
.kotak_table
{
	font-style: italic;
	width: 3px;	
	height: 1px;
}